*{
    margin: 0;
    font-family:Arial ;
    border: border-box;
}
.navbar{
    height: 60px;
    background-color: #131921;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo{
    height: 40px;
    width:100px;
}
.logo{
    background-image: url(./images/amazon_logo.png);
    background-size: cover;
    height: 40px;
    width:100%;
}
.border{
    border: 1px solid transparent;
    padding: 6px;
}

.border:hover{
    border: 1px solid white;
    
}

/* box 2 */

.add-first{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
}
.add-second{
    font-size: 1rem;
    margin-left: 3px;
}
.icon{
    display: flex;
    align-items: center;
}

/* search */

.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    height: 40px;
    width:620px;
    border-radius: 4px;
    
}
.nav-search:hover{
    border: 2px solid orange;
}
.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}
.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search-icon{
    width: 45px;
    font-size: 1.2rem;
    background-color: rgba(218, 160, 37, 0.952);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.language{
    height: 33px;
    width: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgf{
    height: 16px;
    width: 21px;
    background-image: url(./images/Flag-United-States-of-America.webp);
    background-size: cover;
}
.lang{
    margin-left: 2px;
    font-weight: bold;
}
.arow{
    font-size: 0rem;
    margin-top:10px ;
}

/* nav-signin */

span{
    font-size: 0.7rem;
}
.sign-first{
    font-size: 0.85rem;
    font-weight: 700;
}
/* cart */

.nav-cart i{
    font-size:25px ;
}

.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}
 /* panner */
.panel{
    color: #ffffff;
    height: 39px;
    background-color: #232f3e;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 8px 9px 8px 9px;
}
.panel-option{
    width: 65%;
    font-size: 0.85rem;
}
.type{
    color: #ffffff;
    text-decoration: none;
    padding: 8px 9px;
}   
.dowld{
    background-image: url(./images/amazon-link.jpg);
    background-size: cover;
    height: 39px;
    width: 400px;
}

/* Main-Section */
.main-section{
    background-image: url(./images/image1.0.jpg);
    background-size: cover;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.main-msg{
    background-color: #ffffff;
    color: black;
    height: 40px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    margin-bottom: 20px;
}
.main-msg a{
    color: #007185; 
    text-decoration: none;
}

/* Shopping */
.shop-section{
    background-color: #e2e7e6;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
  
}

.box{
    /* border: 2px solid black; */
    background-color: #ffffff;
    height: 400px;
    width: 23%;
    padding: 20px 0px 15px;
    margin-top: 15px;
}
.box_img{
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box_content{
    margin-left: 1rem;
    margin-right: 1rem;
}

.click{
    color: #007185; 
}

.books-section{
    background-color: #e2e7e6;
    display: flex;
    padding: 10px 20px 10px 20px ;
}
.books-content{
    display: flex;
    padding: 20px 0px 15px;
}
.books{
    background-color: white;
    height: 300px;
    width: 100%;   
    margin-top: 10px;
    padding: 10px 20px 10px 20px;
}
.heading{
    margin-top: 10px;
}
.book1{
    background-size: cover;
    height: 210px;
    width: 135px;
    margin-right: 14px;
}
.book2{
    background-size: cover;
    height: 200px;
    width: 160px;
    margin-right: 14px;
}

.sign_in{
    height: 70px;
    width: 100%;
    margin: 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.see{
    font-size: 0.85rem;
}
.see_2{
    font-size: 0.7rem;
}

.see_2 a{
    color: #007185; 
}
.signin_button{
    border: 2px solid hsl(32, 98%, 49%);
    background-color:#ff9900;
    border-radius: 3%;
    height: 28px;
    width: 230px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
}
 footer{
    margin-top: 15px;
 }
.back{
    background-color: #2f3e50;
    height: 50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-top: 15px;
    padding-bottom: 15px; */
}

.main-footer{
    background-color: #222f3d;
    color: white;
    height: 350px;
    display: flex;
    justify-content: space-evenly;
}
ul{
    font-weight: bold;
    margin-top: 30px;
}
ul a{
    margin-top: 10px;
    color: #dddddd;
    font-size: 0.85rem;
    display: block;
}

.logo-foot{
    background-color:#222f3d;
    color: white;
    border-top: 0.5px solid white;
    height: 70px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.foot-logo{
    background-image: url(./images/amazon_logo.png);
    background-size: cover;
    height: 50px;
    width: 100px;
}

.state{
    display: flex;
    color: #dddddd;
    border: 1px solid white;
    padding: 6px 18px;
}

.end-foot{
    background-color: #0f1111;
    color: white;
    height: 80px;
    font-size: 0.7rem;
    text-align: center;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.pages{
    padding-top: 25px;
}

.copyright{
    padding-top: 5px;
}